.homeContainer {
    background-image: url('../home_backdrop.jpg');
    background-repeat: no-repeat;
    background-size: 100vw;

    
}

.textContainer {
    width: 40%;
}

.container-fluid {
    margin: 1rem;
    height: 80vh;
}

.smallBackdrop {
    display: none;
    width: 90vw;
    height: 40vh;
    object-fit: cover;
}
@media screen and
(max-width: 767px) {
    .smallBackdrop {
        display: block;
    }
    .homeContainer {
        background-image: none;
    }
}


