@import "bootstrap/scss/functions"; 
@import "bootstrap/scss/variables";
@import "bootstrap/scss/mixins";
@import url("fonts/gooper/stylesheet.css");
/* Your customizations here */

h1,h2,h3,h4,h5,nav >* {
  font-family: 'Gooper';
        font-weight: 600 !important;    
}  

.App {
    font-family: 'Nobel';
    font-weight: 300;
    font-style: normal;
}



$theme-colors: (
  primary:  #e8b74d,
  secondary: #626262
);

.btn-check:checked + .btn, :not(.btn-check:checked) + .btn:active,:not(.btn-check:checked) + .btn:focus,.btn-check:checked {
  background-color:#947534 !important;
  outline-color: #947534 !important;
}

.btn-check:focus {
  background-color:#947534 !important;
  outline-color: #947534 !important;
}

.btn-check:focus {
  border-color: #626262 !important;
        box-shadow: 0 0 0 0.2rem #d1a648 !important;
}



.btn-primary:hover, .btn-primary:active,:not(.btn-check:checked) + .btn-primary:hover {
  background-color:#947534 !important;
  outline-color: #947534 !important;
  color:white !important;
  outline:none;
}


.btn-primary:focus,:not(.btn-check:checked) + .btn-primary  {
  background-color: #e8b74d !important;
  outline-color: #947534 !important;
  color: black !important;
}

.btn-primary:focus, .btn-check:focus, .btn-check:checked + .btn-primary:focus {
  border-color: #626262 !important;
        box-shadow: 0 0 0 0.2rem #d1a648 !important;
}




@import "bootstrap";
