.fixed-width {
    width:10rem;
    height: auto;
}

card > img {
    
    max-height: 100%;
    max-width: 100%;
      
}
.grow { 
    transition: all .2s ease-in-out; 
    box-shadow: rgba(0, 0, 0, 0.16) 1px 1px 10px;
}

.grow:hover { 
    transform: scale(1.05); 
    cursor:pointer;
}

.selected {
    outline: 5px solid var(--bs-primary);
}